/* line 34, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
header {
  position: absolute;
  color: purple;
}

/* line 38, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
header h1 {
  position: relative;
  left: 0;
  font-family: "Montserrat-Black", Arial, Helvetica, sans-serif;
  top: 25%;
  width: 100%;
  text-align: center;
  color: #D749AA;
  margin-top: 1.5em;
}

/* line 50, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
nav {
  background-color: #F9F1F0;
}

/* line 52, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
nav img {
  position: relative;
  margin-bottom: 1.5em;
  width: 15%;
}

/* line 60, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
body {
  background-color: #F9F1F0;
}

/* line 63, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
body h1 {
  color: #D749AA;
  font-family: "Montserrat", Arial Black, Helvetica, sans-serif;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 71, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
body h2 {
  color: #D749AA;
  font-family: "Montserrat";
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
  font-weight: bold;
}

/* line 80, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
body title {
  color: #D749AA;
  font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
  text-align: center;
}

/* line 85, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
body title title p {
  color: #D749AA;
  font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
  font-size: 30px;
}

/* line 92, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
body p {
  color: #D749AA;
  position: relative;
}

/* line 97, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
body h3 {
  color: #D749AA;
  font-family: "Montserrat", Arial Black, Helvetica, sans-serif;
  text-align: left;
  font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
}

/* line 106, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
ul {
  font-style: Arial, Roboto, Sans-serif;
  color: #D749AA;
}

/* line 110, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
ul p {
  font-family: Arial;
  margin-top: 1.5em;
  font-weight: bold;
}

@media (min-width: 576px) {
  /* line 121, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
  section h2 {
    text-align: left;
    margin-left: 1.5em;
  }
}

@media (min-width: 768px) {
  /* line 118, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
  section {
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  /* line 118, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
  section {
    margin-top: 4em;
  }
}

/* line 136, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
section h1 {
  color: #6f1853;
  font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-style: bold;
}

/* line 143, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
section h1 h2 {
  text-align: left;
}

/* line 155, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
section h4 {
  text-align: left;
  color: #D749AA;
  color: #982273;
  position: relative;
  margin-top: 1.5em;
}

/* line 164, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
section ul li {
  font-family: arial, arial black, sans-serif;
  margin-top: 0.5em;
  color: darken #D749AA, 10%;
}

@media (min-width: (768px, 992px)) {
  /* line 118, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
  section {
    font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
    font-weight: bold;
  }
  /* line 174, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
  section h2 {
    font-family: "Montserrat", Arial Black, Helvetica, sans-serif;
    text-align: center;
  }
  /* line 178, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
  section p {
    text-align: right;
  }
}

/* line 191, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
article ul li #cropbook #digital #spine img {
  size: 50%;
  padding-left: 1em;
  padding-top: 3em;
}

/* line 200, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
article p {
  text-align: left;
}

@media (min-width: (768px, 992px)) {
  /* line 200, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
  article p {
    font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
    font-weight: bold;
  }
  /* line 205, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
  article p h2 {
    font-family: "Montserrat", Arial Black, Helvetica, sans-serif;
    text-align: center;
  }
  /* line 15, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
  article p h1 {
    color: #6f1853;
    font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-style: bold;
  }
}

/* line 217, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
footer ul img {
  size: 1.5em;
  padding-left: 0.5em;
  padding-top: 1em;
}

/*# sourceMappingURL=main.css.map */