/* line 8, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
header {
  position: absolute;
  color: purple;
}

/* line 12, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
header h1 {
  position: relative;
  left: 0;
  font-family: Montserrat-Black, Arial, Helvetica, sans-serif;
  top: 25%;
  width: 100%;
  text-align: center;
  color: #D749AA;
  margin-top: 1.5em;
}

/* line 25, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
img {
  position: relative;
  margin-bottom: 1.5em;
}

/* line 30, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
body {
  background-color: #F9F1F0;
}

/* line 33, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
body h1 {
  color: #D749AA;
  font-family: Montserrat, Arial Black, Helvetica, sans-serif;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 41, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
body h2 {
  color: #D749AA;
  font-family: Montserrat;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
  font-weight: bold;
}

/* line 50, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
body title {
  color: #D749AA;
  font-family: Montserrat-Black, Montserrat-Bold, Montserrat, Helvetica, Arial Black, sans-serif;
  text-align: center;
}

/* line 55, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
body title title p {
  color: #D749AA;
  font-family: Montserrat-Black, Montserrat-Bold, Montserrat, Helvetica, Arial Black, sans-serif;
  font-size: 30px;
}

/* line 62, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
body p {
  color: #D749AA;
  position: relative;
}

/* line 67, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
body h3 {
  color: #D749AA;
  font-family: Montserrat, Arial Black, Helvetica, sans-serif;
  text-align: left;
  font-family: Montserrat-Black, Montserrat Bold, Montserrat, Helvetica, Arial Black, sans-serif;
}

/* line 76, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
ul {
  font-style: Arial, Roboto, Sans-serif;
  color: #D749AA;
}

/* line 80, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
ul p {
  font-family: Arial;
  margin-top: 1.5em;
  font-weight: bold;
}

/* line 90, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
section h1 {
  color: #6f1853;
  font-family: Montserrat-Black, Montserrat-Bold, Montserrat, Arial Black, Arial, sans-serif;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-style: bold;
}

/* line 99, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
section h4 {
  text-align: left;
  color: #D749AA;
  color: #982273;
  position: relative;
  margin-top: 1.5em;
}

/* line 108, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
section ul li {
  font-family: arial, arial black, sans-serif;
  margin-top: 0.5em;
  color: darken #D749AA, 10%;
}

/* line 119, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
article ul li img #cropbook #digital #spine {
  padding-left: 1em;
  padding-top: 3em;
}

/* line 127, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
article p {
  text-align: left;
}

/* line 135, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
footer ul img {
  size: 1.5em;
  padding-left: 0.5em;
  padding-top: 1em;
}

/*# sourceMappingURL=main.css.map */