/* line 70, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
header {
  position: absolute;
  color: purple;
}

/* line 74, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
header h1 {
  position: relative;
  left: 0;
  font-family: "Montserrat-Black", Arial, Helvetica, sans-serif;
  top: 25%;
  width: 100%;
  text-align: center;
  color: #D749AA;
  margin-top: 1.5em;
}

/* line 86, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
body {
  background-color: #F9F1F0;
}

/* line 92, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
nav {
  background-color: !important, #F9F1F0;
}

/* line 94, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
nav img {
  padding: none;
  float: left;
}

/* line 98, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
nav p {
  font-size: 0.75em;
  color: #D749AA;
  font-family: arial black, "Montserrat-Black", helvetica, sans-serif;
}

/* line 108, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
.bd-example h5 {
  color: #450f34;
  font-family: "Montserrat-Black", Arial Black, Helvetica, sans-serif;
  margin-top: 1.5em;
  text-align: center;
}

/* line 114, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
.bd-example p {
  text-align: center;
  font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
  margin-top: 1.5em;
}

/* line 124, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
#attribute a {
  text-decoration: none;
  font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
  font-size: 0.75em;
  text-align: left;
}

/* line 132, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
#attribute ul {
  text-align: left;
  text-decoration: none;
  color: #D749AA;
}

/* line 136, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
#attribute ul #designby li {
  text-align: left;
  text-decoration: none;
  color: #D749AA;
}

/* line 141, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
#attribute ul .carousel-indicators {
  text-align: left;
  color: #D749AA;
}

/* line 149, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
#button button {
  background-color: !important, #D749AA;
}

/* line 151, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
#button button .btn {
  color: !important, #D749AA;
  background-color: !important, #D749AA;
}

/* line 157, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
#skills strong {
  text-decoration: none;
  color: #D749AA;
}

/* line 163, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
.form-group label {
  margin-top: 1.5em;
  margin-bottom: #7d7978;
}

/* line 171, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
main {
  background-color: #F9F1F0;
}

/* line 174, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
main h1 {
  color: #982273;
  font-family: "Montserrat", Arial Black, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 184, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
main h2 {
  color: #D749AA;
  font-family: "Montserrat";
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: left;
  font-weight: bold;
}

/* line 193, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
main title {
  color: #D749AA;
  font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
  text-align: center;
}

/* line 198, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
main title title p {
  color: #D749AA;
  font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
  font-size: 30px;
}

/* line 205, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
main p {
  color: #D749AA;
  position: relative;
}

/* line 210, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
main h3 {
  color: #D749AA;
  font-family: "Montserrat", Arial Black, Helvetica, sans-serif;
  text-align: left;
  font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
}

/* line 217, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
main h4 {
  margin-bottom: 1.5em;
}

/* line 222, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
main ul li {
  margin-bottom: 1.5em;
  margin-top: 1em;
}

/* line 229, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
ul {
  font-style: Arial, Roboto, Sans-serif;
  color: #D749AA;
}

/* line 233, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
ul p {
  font-family: Arial;
  margin-top: 1.5em;
  font-weight: bold;
}

/* line 239, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
ul img {
  float: center;
  margin-bottom: 1.5em;
  position: relative;
}

@media (min-width: 576px) {
  /* line 251, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
  section h2 {
    text-align: left;
    margin-left: 1.5em;
  }
}

@media (min-width: 768px) {
  /* line 248, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
  section {
    margin-left: auto;
  }
  /* line 259, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
  section img {
    padding-left: 10px;
  }
}

@media (min-width: 992px) {
  /* line 248, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
  section {
    margin-top: 4em;
  }
}

/* line 268, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
section h1 {
  color: #6f1853;
  font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-style: bold;
}

/* line 284, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
section h4 {
  text-align: left;
  color: #D749AA;
  color: #982273;
  position: relative;
  margin-top: 1.5em;
}

/* line 293, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
section ul li {
  font-family: arial, arial black, sans-serif;
  margin-top: 0.5em;
  color: darken #D749AA, 10%;
}

@media (min-width: (768px, 992px)) {
  /* line 248, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
  section {
    font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
    font-weight: bold;
  }
  /* line 303, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
  section h2 {
    font-family: "Montserrat", Arial Black, Helvetica, sans-serif;
    text-align: center;
  }
  /* line 307, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
  section p {
    text-align: right;
  }
}

/* line 312, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
section p {
  color: #ad2683;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1.5em;
}

/* line 325, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
aside ul li p {
  margin-bottom: 1.5em 2;
  margin-top: 1.5em 4;
}

/* line 335, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
article h1 {
  color: #6f1853;
  font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-style: bold;
}

/* line 342, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
article p {
  font-family: "Montserrat", Arial Black, Helvetica, sans-serif;
  color: #D749AA;
}

/* line 347, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
article h2 {
  font-family: "Montserrat", Arial Black, Helvetica, sans-serif;
  text-align: center;
  color: #D749AA;
  text-align: left;
  color: #ad2683;
  margin-top: 1em;
}

/* line 353, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
article h3 {
  font-family: "Montserrat", Arial Black, Helvetica, sans-serif;
  text-align: center;
  color: #D749AA;
  text-align: left;
  color: #982273;
  margin-top: 1em;
  font-weight: bold;
}

/* line 367, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
article ul li #cropbook #digital #spine img {
  size: 50%;
  padding-left: 1em;
  padding-top: 3em;
}

/* line 15, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
article ul h1 h1 {
  color: #6f1853;
  font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-style: bold;
}

/* line 43, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
form h2 {
  color: #D749AA;
  font-family: "Montserrat";
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: left;
  font-weight: bold;
}

/* line 383, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
form h2 {
  font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
  color: #D749AA;
  font-size: 2em;
}

/* line 388, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
form label {
  font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
  color: #D749AA;
}

/* line 391, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
form textarea {
  font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
  color: #D749AA;
}

/* line 394, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
form section {
  font-family: "Montserrat", Helvetica, Arial Black, sans-serif;
  color: #D749AA;
}

/* line 397, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
form button .btn {
  background-color: #D749AA;
  color: #000000;
}

/* line 405, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
footer {
  margin-top: 1em;
}

/* line 414, ../Users/creatiousclick/Desktop/github+fall_2020/portfolio-duong/sass/main.scss */
footer ul img {
  size: 1.5em;
  padding-left: 0.5em;
  padding-top: 1em;
  float: center;
  margin-bottom: 1.5em 2;
}

/*# sourceMappingURL=main.css.map */