$primaryColor: #D749AA;
$secondaryColor: #F9F1F0;
$fontstack: "Montserrat", Arial Black, Helvetica, sans-serif;
$fontface: Arial, Roboto, Sans-serif;
$fontpack: "Montserrat", Helvetica, Arial Black, sans-serif;

$spacer: 1.5em;
$secondspacer: 1em;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

header {
  position: absolute;
  color: purple;

  h1 {
    position: relative;
    left: 0;
    font-family: "Montserrat-Black", Arial, Helvetica, sans-serif;
    top: 25%;
    width: 100%;
    text-align: center;
    color: $primaryColor;
    margin-top: $spacer;
  }
}

nav {
  background-color: $secondaryColor;
  img {
    position: relative;
    margin-bottom: $spacer;
    width: 15%;
  }
}


body {
  background-color: $secondaryColor;

    h1 {
      color: $primaryColor;
      font-family: $fontstack;
      text-align: center;
      margin-top: $spacer/1;
      margin-bottom: $spacer/1;
    }

    h2 {
      color: $primaryColor;
      font-family: "Montserrat";
      margin-top: $spacer;
      margin-bottom: $spacer/1;
      text-align: center;
      font-weight: bold;
    }

    title {
      color: #D749AA;
      font-family: $fontpack;
      text-align: center;

      title p {
        color: $primaryColor;
        font-family: $fontpack;
        font-size: 30px;
      }
    }

    p {
      color: $primaryColor;
      position: relative;
    }

    h3 {
      color: $primaryColor;
      font-family: $fontstack;
      text-align: left;
      font-family: $fontpack;
    }

}

ul {
  font-style: $fontface;
  color: $primaryColor;

  p {
    font-family: Arial;
    margin-top: $spacer;
    font-weight: bold;
  }

}

section {

      @media (min-width: $sm) {
        h2 {
          text-align: left;
          margin-left: $spacer;
        }
      }

      @media (min-width: $md){
        margin-left: auto;

      }

      @media (min-width: $lg) {
        margin-top: 4em;
      }

    h1 {
      color: darken($primaryColor, 30%);
      font-family: $fontpack;
      text-align: center;
      margin-top: $spacer/1;
      margin-bottom: $spacer/1;
      font-style: bold;
    h2 {
      text-align: left;
    }

    // h3 {
    //   color: $primaryColor;
    //   font-family: $fontstack;
    //   text-align: left;
    //   font-family: $fontpack;
    // }
  }

  h4 {
    text-align: left;
    color: $primaryColor;
    color: darken($primaryColor,20%);
    position: relative;
    margin-top: $spacer/1;
}

  ul {
    li {
      font-family: arial, arial black, sans-serif;
      margin-top: 0.5em;
      color: darken ($primaryColor, 10%);
    }
  }

  @media (min-width: $md, $lg) {
      font-family: $fontpack;
      font-weight: bold;
      h2 {
        font-family: $fontstack;
        text-align: center;
      }
      p {
        text-align: right;
    }
  }

}





article ul {
    li {
      #cropbook #digital #spine img {
        size: 50%;
        padding-left: $secondspacer;
        padding-top: $spacer*2;
      }
    }
}

article {
  p {
    text-align: left;
    @media (min-width: $md, $lg) {
        font-family: $fontpack;
        font-weight: bold;
        h2 {
          font-family: $fontstack;
          text-align: center;
        }
        h3 {
            color: $primaryColor;
            font-family: $fontstack;
            text-align: left;
            font-family: $fontpack;
          }
      }
    }
}


footer {
  ul {
    img {
      size: $spacer;
      padding-left: 0.5em;
      padding-top: $secondspacer;
    }
  }
}
