$primaryColor: #D749AA;
$secondaryColor: #F9F1F0;
$fontstack: "Montserrat", Arial Black, Helvetica, sans-serif;
$fontface: Arial, Roboto, Sans-serif;
$fontpack: "Montserrat", Helvetica, Arial Black, sans-serif;

$spacer: 1.5em;
$secondspacer: 1em;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin title {
  h1 {
    color: darken($primaryColor, 30%);
    font-family: $fontpack;
    text-align: center;
    margin-top: $spacer/1;
    margin-bottom: $spacer/1;
    font-style: bold;
  }
}

@mixin subtitle {
  h3 {
    color: $primaryColor;
    font-family: $fontstack;
    text-align: left;
    font-family: $fontpack;
  }
}

@mixin social {
  size: $spacer;
  padding-left: 0.5em;
  padding-top: $secondspacer;
  float: center;
  margin-bottom: $spacer(2);
}

@mixin sec-title {
  h2 {
    color: $primaryColor;
    font-family: "Montserrat";
    margin-top: $spacer;
    margin-bottom: $spacer/1;
    text-align: left;
    font-weight: bold;
  }
}

@mixin pack {
  font-family: $fontpack;
  color: $primaryColor;
}

@mixin pack2{
  font-family: $fontpack;
  font-weight: bold;
}

@mixin fontpack {
  font-family: $fontstack;
  text-align: center;
  color: $primaryColor;
}


header {
  position: absolute;
  color: purple;

  h1 {
    position: relative;
    left: 0;
    font-family: "Montserrat-Black", Arial, Helvetica, sans-serif;
    top: 25%;
    width: 100%;
    text-align: center;
    color: $primaryColor;
    margin-top: $spacer;
  }
}

body {
  background-color: $secondaryColor;
  .navbar .navbar-expand-lg .navbar-light .bg-light{
    background-color: important, $secondaryColor, none, transparent;
    nav {
      background-color: $secondaryColor;
    }
  }


}

  #navigation {
    color: #000000;
    background-color: none, transparent,$secondaryColor,'important';
  }
  #navbar {
    background-color: important, transparent, none, $secondaryColor;
    a img {
      background-color: $secondaryColor;
    }
}



// body {
//   background-color: $secondaryColor;
//   nav {
//     .navbar {
//       background-color: $secondaryColor(important);
//     }
//     .navbar-light .navbar-brand {
//       background-color:$secondaryColor(important);
//     }
//     #navbar {
//       color: black(important);
//       background-color: $secondaryColor(important);
//     }
//     #navsection{
//       background-color: $secondaryColor;
//     }
//     #navbarNav {
//       background-color:$secondaryColor;
//     }
//     img {
//       position: relative;
//       margin-bottom: $spacer;
//       width: 20%;
//     }
//     p {
//       background-color: inherit;
//     }
//     button {
//       background-color: $secondaryColor;
//     }
//   }
//
// }


main {
  background-color: $secondaryColor;

    h1 {
      color: darken($primaryColor,20%);
      font-family: $fontstack;
      font-weight: bold;
      text-align: center;
      margin-top: $spacer/1;
      margin-bottom: $spacer/1;
    }


    h2 {
      color: $primaryColor;
      font-family: "Montserrat";
      margin-top: $spacer;
      margin-bottom: $spacer/1;
      text-align: left;
      font-weight: bold;
    }

    title {
      color: #D749AA;
      font-family: $fontpack;
      text-align: center;

      title p {
        color: $primaryColor;
        font-family: $fontpack;
        font-size: 30px;
      }
    }

    p {
      color: $primaryColor;
      position: relative;
    }

    h3 {
      color: $primaryColor;
      font-family: $fontstack;
      text-align: left;
      font-family: $fontpack;
    }

    h4 {
      margin-bottom: $spacer;
      }

      ul {
        li {
          margin-bottom: 1.5em;
          margin-top: $secondspacer;
        }
      }
}

ul {
  font-style: $fontface;
  color: $primaryColor;

  p {
    font-family: Arial;
    margin-top: $spacer;
    font-weight: bold;
  }

  img {
    float: center;
  }

}


section {

      @media (min-width: $sm) {
        h2 {
          text-align: left;
          margin-left: $spacer;
        }
      }

      @media (min-width: $md){
        margin-left: auto;
        img {
          padding-left: 10px;
        }
      }

      @media (min-width: $lg) {
        margin-top: 4em;
      }

    h1 {
      color: darken($primaryColor, 30%);
      font-family: $fontpack;
      text-align: center;
      margin-top: $spacer/1;
      margin-bottom: $spacer/1;
      font-style: bold;

    // h3 {
    //   color: $primaryColor;
    //   font-family: $fontstack;
    //   text-align: left;
    //   font-family: $fontpack;
    // }
  }

  h4 {
    text-align: left;
    color: $primaryColor;
    color: darken($primaryColor,20%);
    position: relative;
    margin-top: $spacer/1;
}

  ul {
    li {
      font-family: arial, arial black, sans-serif;
      margin-top: 0.5em;
      color: darken ($primaryColor, 10%);
    }
  }

  @media (min-width: $md, $lg) {
      font-family: $fontpack;
      font-weight: bold;
      h2 {
        font-family: $fontstack;
        text-align: center;
      }
      p {
        text-align: right;
    }
  }

}


aside {
  ul {
    li {
      p {
        margin-bottom: $spacer(2);
        margin-top: $spacer(4);
      }
    }
  }
}


article {
  h1 {
    color: darken($primaryColor, 30%);
    font-family: $fontpack;
    text-align: center;
    margin-top: $spacer/1;
    margin-bottom: $spacer/1;
    font-style: bold;    }
  p {
    font-family: $fontstack;
    color: $primaryColor;
  }

  h2 {
    @include fontpack;
    text-align: left;
    color: darken($primaryColor,15%);
    margin-top: $secondspacer;
  }
  h3 {
    @include fontpack;
    text-align: left;
    color: darken($primaryColor, 20%);
    margin-top: $secondspacer;
    font-weight: bold;
  }
}




article ul {
    li {
      #cropbook #digital #spine img {
        size: 50%;
        padding-left: $secondspacer;
        padding-top: $spacer*2;
      }
    }
    h1 {
    @include title;
    }

}


form {
  @include sec-title;

  h2 {
    @include pack;
    font-size: 2em;
  }

  label {
    @include pack;
  }
  textarea {
    @include pack;
  }
  section {
    @include pack;
  }
  button .btn {
    background-color: $primaryColor;
    color: #000000;
  }
}



footer {
  margin-top: $secondspacer;
@media (min-width: $md) {
  @mixin social {
    align-items: center;
  }
}

  ul {
    img {
      size: $spacer;
      padding-left: 0.5em;
      padding-top: $secondspacer;
      float: center;
      margin-bottom: $spacer(2);
    }
  }
}
