$primaryColor: #D749AA;
$secondaryColor: #F9F1F0;
$fontstack: Montserrat, Arial Black, Helvetica, sans-serif;
$fontface: Arial, Roboto, Sans-serif;
$spacer: 1.5em;

header {
  position: absolute;
  color: purple;

  h1 {
    position: absolute;
    left: 0;
    font-family: Montserrat;
    top: 25%;
    width: 100%;
    text-align: center;
    color: $primaryColor;
  }
}


body {
  background-color: $secondaryColor;

    h1 {
      color: $primaryColor;
      font: $fontstack;
      text-align: center;
      margin-top: $spacer/1;
      margin-bottom: $spacer/1;
    }

    title {
      color: #D749AA;
      font-family: Montserrat-Black, Montserrat-Bold, Montserrat, Helvetica, Arial Black, sans-serif;
      text-align: center;

      title p {
        color: $primaryColor;
        font-family: Montserrat-Black, Montserrat-Bold, Montserrat, Helvetica, Arial Black, sans-serif;
        font-size: 30px;
      }
    }

    p {
      color: $primaryColor;
    }

    h3 {
      color: $primaryColor;
      font: $fontstack;
      text-align: left;
      font-family: Montserrat-Black, Montserrat Bold, Montserrat, Helvetica, Arial Black, sans-serif;
    }

}

ul {
  font-style: $fontface;
  color: $primaryColor;

  p {
    font: Arial;
    margin-top: $spacer/2;
    font-weight: bold;
  }

}

footer {

  ul {
    img {
      size: $spacer;
    }
  }

}
